/* css/style.css */
.navbar {
    background-color: #002241; 
  padding: 20px 50px; 
  display: flex; 
  align-items: center; 
  justify-content: space-between; /*space between logo and links */
  width: 100%;
  z-index: 1000;
  position: fixed;
  
}
.navbar .logo {
  color: #F9C7CA;
  font-weight: bold;
  font-size: 22px;
  padding-left: 10px;
  text-decoration: none;
}

.navbar .logo:hover {
  color: #e7aab2; 
}

.navbar ul {
  list-style: none; 
  margin: 0;
  padding: 0;
  display: flex; 
  overflow-x: auto;   /* allow horizontal scroll */
  -webkit-overflow-scrolling: touch; /* smooth scroll on mobile */
}

.navbar ul::-webkit-scrollbar {
  display: none;
}

.navbar ul li {
  margin-right: 20px; 
}

.navbar ul li a {
  text-decoration: none;
  color: #F9C7CA;
  transition: 0.3s;

}

.navbar ul li a:hover {
  text-decoration: none;
  color: #e7aab2;
}



body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to left, #ffd7d7, #afc4dd);
             margin: 0;
             padding: 0;
        }

        .hero {
            background: linear-gradient(to right, #ffd7d7, #afc4dd);
            color: white;
            padding: 100px 20px;
        }

        .hero2 {
            background: linear-gradient(to left, #ffd7d7, #afc4dd);
            color: #52677e;
            padding: 100px 20px;
        }

        .hero h1 {
            font-size: 55px;
            font-weight: bold;
        }

        .service-card {
            transition: 0.3s;
            border: none;
            border-radius: 15px;
        }

        .service-card:hover {
            transform: translateY(-5px);
        }

        .step-box {
            background: white;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        }

        footer {
            background: #002241;
            color: #F9C7CA;
            padding: 40px 20px;
        }
        /*CSS for the sign up button*/

.signup-container{
    display:none;

    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.5);

    justify-content:center;
    align-items:center;
}

.signup-box{
    background:white;
    padding:30px;
    width:400px;
    border-radius:15px;
}